@keyframes slideIn{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateY(100%);
    }
}

@keyframes shakeY{
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0);
    }
}