@font-face{
    font-family: 'FuturaLight';
    src:
        url('../../public/fonts/futura\ light\ bt.ttf') format('truetype'),
        url('../../public/fonts/futura_light_bt-webfont.woff') format('woff'),
        url('../../public/fonts/futura_light_bt-webfont.woff2') format('woff2');
}

@font-face{
    font-family: 'FuturaMid';
    src:
        url('../../public/fonts/futura\ medium\ bt.ttf') format('truetype'),
        url('../../public/fonts/futura_medium_bt-webfont.woff') format('woff'),
        url('../../public/fonts/futura_medium_bt-webfont.woff2') format('woff2');
}

@font-face{
    font-family: 'FuturaHeavy';
    src:
        url('../../public/fonts/Futura\ XBlk\ BT.ttf') format('truetype'),
        url('../../public/fonts/futura_xblk_bt-webfont.woff') format('woff'),
        url('../../public/fonts/futura_xblk_bt-webfont.woff2') format('woff2');
}